#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#starters, #burgers, #sideDishs, #drinks, #desserts{    
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: wrap; /* Quebra linha quando não couber */
    transition: transform 0.2s ease;
    cursor: pointer;
}
#options-menu{
    list-style: none;
    cursor: pointer;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
}
.section-subtitle-menu{
    font-size: 17px;
}
.section-subtitle-menu a{
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
    transition: border-bottom 0.2s ease-in-out;
}
.section-subtitle-menu :hover{
    border-bottom: 2px solid #ffe100;
}
.starter, .burger, .sideDish, .drink, .dessert{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}
.starter-heart, .burger-heart, .sideDish-heart, .drink-heart, .dessert-heart{
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff9ea;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}
.starter-title, .burger-title, .sideDish-title, .drink-title, .dessert-title{
    text-align: center;
}
.starter-image, .burger-image, .sideDish-image, .drink-image, .dessert-image{
    width: 230px;
    height: 230px;
    border-radius: 7px;
}
.starter-description, .burger-description, .sideDish-description, .drink-description, .dessert-description{
    color: #1d1d1d;
    text-align: center;
}
.starter-rate i, .burger-rate i, .sideDish-rate i, .drink-rate i, .dessert-rate i{
    color: #e9a209;
}
.starter-price, .burger-price, .sideDish-price, .drink-price, .dessert-price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.starter:hover, .burger:hover, .sideDish:hover, .drink:hover, .dessert:hover {
  transform: scale(1.02);
}
.starter:active, .burger:active, .sideDish:active, .drink:active, .dessert:active {
  transform: scale(0.99);
}

/*MOBILE*/

#section-subtitle-mobile{
    display: none;
}

@media screen and (max-width: 1170px){
    #starters, #burgers, #sideDishs, #drinks, #desserts{
        flex-wrap: wrap;
        justify-content: center;
    }
    .starter, .burger, .sideDish, .drink, .dessert{
        width: calc(50% - 12px);
    }
}
@media screen and (max-width: 600px){
    #options-menu{
        display: none;
    }
    #section-subtitle-mobile{
        display: block;
    }
    .com-mt{
        margin-top: 25px;
    }
    .starter, .burger, .sideDish, .drink, .dessert{
        width: 100%;
    }
}


